@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Passion+One:wght@400;700;900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Passion+One:wght@400;700;900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
   padding: 0px;
   margin: 0px;
}

#joaninha {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 20px;
    box-shadow: inset 0px 7px 7px 0px rgba(0, 0, 0, 0.39);
    font-size: 5vw;

}
#cartas {
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 20px;
    box-shadow: inset 0px 7px 7px 0px rgba(0, 0, 0, 0.39);
    

}
 .imagemtexto{
    background-color: rgba(0, 0, 0, 0.425);
    font-family: 'Sriracha', sans-serif;
    font-size: 5vw;
    display: inline-block;
    line-height: 1.8em;
    padding-left: 30px;
    color: white;

  
}


header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    margin-bottom: 80px;

}
header h1 {
    font-family: 'Passion One';
    font-size: 10vh;
    
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}

section > p {
    padding-left: 30px;
    font-family: 'Sriracha', sans-serif;
    font-size: 5vw;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

